USE [QLKS_DN]
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[MaBL] [int] NOT NULL,
	[SoTien] [nvarchar](20) NULL,
	[Ngayupdate] [nvarchar](50) NULL,
	[MaCV] [smallint] NULL,
 CONSTRAINT [PK_BANGLUONG] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[MaCC] [varchar](50) NOT NULL,
	[maNV] [varchar](20) NULL,
	[MaLC] [varchar](50) NULL,
	[MaCT] [varchar](50) NULL,
	[Thoigian] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[MaCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETCHUCNANG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCHUCNANG](
	[maPQ] [varchar](20) NOT NULL,
	[maChucNang] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CHITIETCHUCNANG] PRIMARY KEY CLUSTERED 
(
	[maPQ] ASC,
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUE]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUE](
	[maCTT] [varchar](20) NOT NULL,
	[maKH] [varchar](20) NULL,
	[maNV] [varchar](20) NULL,
	[ngayLapPhieu] [datetime] NULL,
	[tienDatCoc] [int] NULL,
	[tinhTrangXuLy] [int] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUEDICHVU]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUEDICHVU](
	[maCTT] [varchar](20) NOT NULL,
	[maDV] [varchar](20) NOT NULL,
	[ngaySuDung] [date] NOT NULL,
	[SoLuong] [int] NULL,
	[giaDV] [int] NULL,
 CONSTRAINT [PK_CHITIETHUEDICHVU] PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC,
	[maDV] ASC,
	[ngaySuDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUEPHONG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUEPHONG](
	[maCTT] [varchar](20) NOT NULL,
	[maP] [varchar](20) NOT NULL,
	[ngayThue] [datetime] NOT NULL,
	[ngayTra] [datetime] NULL,
	[ngayCheckOut] [datetime] NULL,
	[loaiHinhThue] [int] NULL,
	[giaThue] [int] NULL,
	[tinhTrang] [int] NULL,
 CONSTRAINT [PK_CHITIETTHUEPHONG] PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC,
	[maP] ASC,
	[ngayThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTIENICH]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTIENICH](
	[maP] [varchar](20) NOT NULL,
	[maTI] [varchar](20) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_CHITIETTIENICH] PRIMARY KEY CLUSTERED 
(
	[maP] ASC,
	[maTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[maChucNang] [varchar](20) NOT NULL,
	[tenChucNang] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [smallint] NOT NULL,
	[TenCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTHANG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHANG](
	[MaCT] [varchar](50) NOT NULL,
	[MaNV] [varchar](50) NULL,
	[Thang] [nchar](10) NULL,
	[Nam] [nchar](10) NULL,
	[SoNgayDiLam] [varchar](50) NULL,
	[SoNgayDiTre] [varchar](50) NULL,
	[SoNgayKhongPhep] [varchar](50) NULL,
	[SoNgayPhep] [varchar](50) NULL,
	[LamVaoNgayNghi] [varchar](50) NULL,
	[NgayLe] [varchar](50) NULL,
 CONSTRAINT [PK_CONGTHANG] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[maDV] [varchar](20) NOT NULL,
	[tenDV] [nvarchar](100) NULL,
	[loaiDV] [nvarchar](128) NULL,
	[giaDV] [int] NULL,
	[hinhAnh] [nvarchar](max) NOT NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[maHD] [varchar](20) NOT NULL,
	[maCTT] [varchar](20) NULL,
	[giamGia] [int] NULL,
	[phuThu] [int] NULL,
	[ngayThanhToan] [datetime] NULL,
	[phuongThucThanhToan] [smallint] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[maKH] [varchar](20) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[CMND] [varchar](20) NULL,
	[gioiTinh] [smallint] NULL,
	[sDT] [varchar](20) NULL,
	[queQuan] [nvarchar](100) NULL,
	[quocTich] [nvarchar](100) NULL,
	[ngaySinh] [date] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICONG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICONG](
	[MaLC] [varchar](50) NOT NULL,
	[TenLC] [nvarchar](50) NULL,
	[Heso] [varchar](50) NULL,
	[Ngayupdate] [nvarchar](50) NULL,
	[Xuly] [varchar](8) NULL,
 CONSTRAINT [PK_LOAICONG] PRIMARY KEY CLUSTERED 
(
	[MaLC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MaL] [int] NOT NULL,
	[Thang] [varchar](10) NULL,
	[Nam] [varchar](10) NULL,
	[LuongThamNien] [varchar](20) NULL,
	[LuongThuong] [varchar](20) NULL,
	[KhoanTru] [varchar](20) NULL,
	[LuongThucTe] [varchar](20) NULL,
	[maNV] [varchar](20) NULL,
 CONSTRAINT [PK_LUONG] PRIMARY KEY CLUSTERED 
(
	[MaL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[maNV] [varchar](20) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[gioiTinh] [smallint] NULL,
	[soNgayPhep] [smallint] NULL,
	[MaCV] [smallint] NULL,
	[ngaySinh] [date] NULL,
	[ngayVaoLam] [date] NULL,
	[email] [varchar](100) NULL,
	[xuLy] [int] NULL,
 CONSTRAINT [PK__NHANVIEN__7A3EC7D5C86A9266] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[maPQ] [varchar](20) NOT NULL,
	[tenPQ] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[maP] [varchar](20) NOT NULL,
	[tenP] [nvarchar](20) NULL,
	[loaiP] [smallint] NULL,
	[giaP] [int] NULL,
	[chiTietLoaiP] [int] NULL,
	[tinhTrang] [int] NULL,
	[hienTrang] [int] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUCAP]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUCAP](
	[MaPC] [int] NOT NULL,
	[SoTien] [varchar](50) NULL,
	[Ngayupdate] [nvarchar](50) NULL,
	[Loaiphucap] [nvarchar](50) NULL,
	[MaCV] [smallint] NULL,
	[XuLy] [int] NULL,
 CONSTRAINT [PK_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[MaPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[taiKhoan] [varchar](20) NOT NULL,
	[maNV] [varchar](20) NULL,
	[matKhau] [varchar](max) NULL,
	[tinhTrang] [int] NULL,
	[maPQ] [varchar](20) NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TANGLUONG]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TANGLUONG](
	[MaTL] [int] NOT NULL,
	[Sonam] [varchar](50) NULL,
	[Heso] [float] NULL,
	[Ngayupdate] [nvarchar](50) NULL,
	[Xuly] [varchar](50) NULL,
 CONSTRAINT [PK_TANGLUONG] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENICH]    Script Date: 4/12/2025 5:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENICH](
	[maTI] [varchar](20) NOT NULL,
	[tenTI] [nvarchar](30) NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGLUONG] ([MaBL], [SoTien], [Ngayupdate], [MaCV]) VALUES (0, N'10000000', N'01/04/2025', 0)
INSERT [dbo].[BANGLUONG] ([MaBL], [SoTien], [Ngayupdate], [MaCV]) VALUES (1, N'9000000', N'01/04/2025', 1)
INSERT [dbo].[BANGLUONG] ([MaBL], [SoTien], [Ngayupdate], [MaCV]) VALUES (2, N'8000000', N'01/04/2025', 2)
GO
INSERT [dbo].[CHAMCONG] ([MaCC], [maNV], [MaLC], [MaCT], [Thoigian], [GhiChu]) VALUES (N'1', N'NV01711230001', N'1', N'1', N'2024-01-01', N'Đi làm đầy đủ')
INSERT [dbo].[CHAMCONG] ([MaCC], [maNV], [MaLC], [MaCT], [Thoigian], [GhiChu]) VALUES (N'10', N'NV01711230001', N'1', N'1', N'2024-01-10', N'Đi làm đầy đủ')
INSERT [dbo].[CHAMCONG] ([MaCC], [maNV], [MaLC], [MaCT], [Thoigian], [GhiChu]) VALUES (N'11', N'NV01711230001', N'1', N'1', N'2024-01-11', N'Đi làm đầy đủ')
GO
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'1')
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'2')
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'3')
GO
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P1404240001', N'TI1011230002', 1)
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P1404240002', N'TI1011230001', 1)
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P1404240002', N'TI1011230003', 1)
GO
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'1', N'Quản lý phòng')
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'2', N'Quản lý dịch vụ')
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'3', N'Quản lý khách hàng')
GO
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (0, N'J')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (1, N'J')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (2, N'J')
GO
INSERT [dbo].[CONGTHANG] ([MaCT], [MaNV], [Thang], [Nam], [SoNgayDiLam], [SoNgayDiTre], [SoNgayKhongPhep], [SoNgayPhep], [LamVaoNgayNghi], [NgayLe]) VALUES (N'1', N'NV01711230001', N'1         ', N'2024      ', N'28', N'0', N'0', N'2', N'0', N'0')
GO
INSERT [dbo].[HOADON] ([maHD], [maCTT], [giamGia], [phuThu], [ngayThanhToan], [phuongThucThanhToan], [xuLy]) VALUES (N'', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[LOAICONG] ([MaLC], [TenLC], [Heso], [Ngayupdate], [Xuly]) VALUES (N'1', N'Ði làm bình thường', N'1.0', N'01/04/2025', N'0')
INSERT [dbo].[LOAICONG] ([MaLC], [TenLC], [Heso], [Ngayupdate], [Xuly]) VALUES (N'10', N'1', N'1', N'11/04/2025', N'1')
INSERT [dbo].[LOAICONG] ([MaLC], [TenLC], [Heso], [Ngayupdate], [Xuly]) VALUES (N'2', N'Đi trễ', N'0.8', N'01/04/2025', N'0')
GO
INSERT [dbo].[LUONG] ([MaL], [Thang], [Nam], [LuongThamNien], [LuongThuong], [KhoanTru], [LuongThucTe], [maNV]) VALUES (0, N'2', N'2024', N'0', N'0', N'0', N'8200000', N'NV00303250002')
INSERT [dbo].[LUONG] ([MaL], [Thang], [Nam], [LuongThamNien], [LuongThuong], [KhoanTru], [LuongThucTe], [maNV]) VALUES (1, N'1', N'2024', N'0', N'0', N'0', N'8200000', N'NV01711230001')
GO
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [MaCV], [ngaySinh], [ngayVaoLam], [email], [xuLy]) VALUES (N'NV00303250002', N'Nguyễn Thị Hồng Thắm', 1, 2, 0, CAST(N'2004-06-04' AS Date), CAST(N'2025-03-03' AS Date), N'hongtham@gmail.com', 0)
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [MaCV], [ngaySinh], [ngayVaoLam], [email], [xuLy]) VALUES (N'NV01204250003', N'ffff', 0, 0, 0, CAST(N'2000-11-11' AS Date), CAST(N'2025-04-12' AS Date), N't@gmail.com', 1)
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [MaCV], [ngaySinh], [ngayVaoLam], [email], [xuLy]) VALUES (N'NV01711230001', N'Nguyễn Văn An', 0, 3, 0, CAST(N'2000-09-09' AS Date), CAST(N'2023-11-17' AS Date), N'An@gmail.com', 0)
GO
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'0', N'Admin')
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'1', N'Manager')
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'2', N'Receptionist')
GO
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy]) VALUES (N'P1404240001', N'Phòng Đơn 1', 1, 100000, 0, 0, 0, 0)
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy]) VALUES (N'P1404240002', N'Phòng Ghế Tình yêu', 0, 200000, 1, 0, 0, 0)
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy]) VALUES (N'P1404240003', N'Phòng Gia Đình', 0, 300000, 2, 0, 0, 0)
GO
INSERT [dbo].[PHUCAP] ([MaPC], [SoTien], [Ngayupdate], [Loaiphucap], [MaCV], [XuLy]) VALUES (0, N'300000', N'01/04/2025', N'Trách nhiệm', 0, 0)
INSERT [dbo].[PHUCAP] ([MaPC], [SoTien], [Ngayupdate], [Loaiphucap], [MaCV], [XuLy]) VALUES (1, N'200000', N'01/04/2025', N'Ca đêm', 1, 0)
INSERT [dbo].[PHUCAP] ([MaPC], [SoTien], [Ngayupdate], [Loaiphucap], [MaCV], [XuLy]) VALUES (2, N'100000', N'01/04/2025', N'Chuyên môn', 2, 0)
GO
INSERT [dbo].[TAIKHOAN] ([taiKhoan], [maNV], [matKhau], [tinhTrang], [maPQ], [xuLy]) VALUES (N'admin', N'NV01711230001', N'e10adc3949ba59abbe56e057f20f883e', 0, N'0', 0)
GO
INSERT [dbo].[TANGLUONG] ([MaTL], [Sonam], [Heso], [Ngayupdate], [Xuly]) VALUES (0, N'10', 0.05, N'01/04/2025', N'0')
INSERT [dbo].[TANGLUONG] ([MaTL], [Sonam], [Heso], [Ngayupdate], [Xuly]) VALUES (1, N'5', 0.025, N'01/04/2025', N'0')
INSERT [dbo].[TANGLUONG] ([MaTL], [Sonam], [Heso], [Ngayupdate], [Xuly]) VALUES (6, N'5', 5, N'11/04/2025', N'1')
GO
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI0804240003', N'Ghế tình yêu', 1)
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI1011230001', N'Tivi siêu mỏng', 0)
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI1011230002', N'Tủ lạnh mini', 0)
GO
ALTER TABLE [dbo].[BANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGLUONG_CHUCVU] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[BANGLUONG] CHECK CONSTRAINT [FK_BANGLUONG_CHUCVU]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_CONGTHANG] FOREIGN KEY([MaCT])
REFERENCES [dbo].[CONGTHANG] ([MaCT])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_CONGTHANG]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_LOAICONG] FOREIGN KEY([MaLC])
REFERENCES [dbo].[LOAICONG] ([MaLC])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_LOAICONG]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_NHANVIEN] FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETCHUCNANG]  WITH CHECK ADD FOREIGN KEY([maChucNang])
REFERENCES [dbo].[CHUCNANG] ([maChucNang])
GO
ALTER TABLE [dbo].[CHITIETCHUCNANG]  WITH CHECK ADD FOREIGN KEY([maPQ])
REFERENCES [dbo].[PHANQUYEN] ([maPQ])
GO
ALTER TABLE [dbo].[CHITIETTHUE]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACHHANG] ([maKH])
GO
ALTER TABLE [dbo].[CHITIETTHUE]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACHHANG] ([maKH])
GO
ALTER TABLE [dbo].[CHITIETTHUE]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETTHU__maNV__534D60F1] FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[CHITIETTHUE] CHECK CONSTRAINT [FK__CHITIETTHU__maNV__534D60F1]
GO
ALTER TABLE [dbo].[CHITIETTHUE]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[CHITIETTHUEDICHVU]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[CHITIETTHUEDICHVU]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[CHITIETTHUEDICHVU]  WITH CHECK ADD FOREIGN KEY([maDV])
REFERENCES [dbo].[DICHVU] ([maDV])
GO
ALTER TABLE [dbo].[CHITIETTHUEDICHVU]  WITH CHECK ADD FOREIGN KEY([maDV])
REFERENCES [dbo].[DICHVU] ([maDV])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([maP])
REFERENCES [dbo].[PHONG] ([maP])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([maP])
REFERENCES [dbo].[PHONG] ([maP])
GO
ALTER TABLE [dbo].[CHITIETTIENICH]  WITH CHECK ADD FOREIGN KEY([maTI])
REFERENCES [dbo].[TIENICH] ([maTI])
GO
ALTER TABLE [dbo].[CHITIETTIENICH]  WITH CHECK ADD FOREIGN KEY([maP])
REFERENCES [dbo].[PHONG] ([maP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [FK_LUONG_NHANVIEN] FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [FK_LUONG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[PHUCAP]  WITH CHECK ADD  CONSTRAINT [FK_PHUCAP_CHUCVU] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[PHUCAP] CHECK CONSTRAINT [FK_PHUCAP_CHUCVU]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAIKHOAN__maNV__5AEE82B9] FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK__TAIKHOAN__maNV__5AEE82B9]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([maPQ])
REFERENCES [dbo].[PHANQUYEN] ([maPQ])
GO
